*.bak

/autom4te.cache
/aclocal.m4

.vs
.vscode
.rpm

/data/**/*

# Explicitly include the locale files as they relate to UI changes.
!/data/*.mse-locale/
!/data/*.mse-locale/**/*

/build_*
/build-*
/build
/out
/enc_temp_folder
/resource/RC*
/build-win64
/build-laptop
build-win64/
build-laptop/
/resource/expected_locale_keys
/_CPack_Packages
